.fade-btn-enter-active,
.fade-btn-leave-active {
    transition: opacity transform 0.5s ease;
}

.fade-btn-enter-from,
.fade-btn-leave-to {
    opacity: 0;
    transform: translateX(50px);
}

.fade-btn-enter-to,
.fade-btn-leave-from {
    opacity: 1;
    transform: translateX(0);
}
