@use "../abstracts/index" as *;
@use "sass:color";

.banner {
    @include flexbox(center, center);

    height: calc(100vh - #{$header-height});

    &-content {
        @include flexbox(center, flex-start, column, 1rem);
        padding: 2rem 4rem;
        border-radius: $border-radius;
        border: 1px solid $secondary;
        background: color.adjust($secondary, $alpha: -0.4);
        backdrop-filter: blur(5px);
        box-shadow: 0 0 50px 10px color.adjust($secondary, $alpha: -0.6);
    }

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: color.adjust($dark, $alpha: -0.5);
    }
}
