@use "../abstracts/index" as *;

.card {
    border-radius: $border-radius;
    border: 1px solid $dark-muted;
    padding: 1rem;

    &-btn {
        @include flexbox(space-between, center, $gap: 1rem);
        margin-top: 1rem;
    }
}
