@use "../abstracts/index" as *;

.card {
    border-radius: $border-radius;
    border: 1px solid $dark-muted;
    overflow: hidden;
    height: 100%;
    box-shadow: 0 0 20px rgba($dark-muted, 0.2);

    &-body {
        padding: 1rem;
    }

    &-img-wrapper {
        aspect-ratio: 16/9;
        overflow: hidden;
    }

    &-btn {
        @include flexbox(space-between, center, $gap: 1rem);
        margin-top: 1rem;
    }
}
