@mixin flexbox($justify: flex-start, $align: start, $direction: row, $gap: 0, $flex-wrap: nowrap, $display: flex) {
    display: $display;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
    gap: $gap;
    flex-wrap: $flex-wrap;
}
