@mixin flexbox($justify: flex-start, $align: flex-start, $direction: row, $gap: 0, $wrap: wrap, $display: flex) {
    display: $display;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
    gap: $gap;
    flex-wrap: $wrap;
}

@mixin fluid-type($min, $fluid, $max) {
    font-size: clamp($min, $fluid, $max);
}
