@mixin flexbox($justify: flex-start, $align: flex-start, $direction: row, $gap: 0, $wrap: wrap, $display: flex) {
    display: $display;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
    gap: $gap;
    flex-wrap: $wrap;
}

@mixin grid($columns: repeat(1, 1fr), $gap: 0, $align: center, $justify: center) {
    display: grid;
    grid-template-columns: $columns;
    gap: $gap;
    align-items: $align;
    justify-items: $justify;
}

@mixin fluid-type($min, $fluid, $max) {
    font-size: clamp($min, $fluid, $max);
}
